.s-hero-services {
    padding-top: 70px;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .s-hero-services {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media (min-width: 1600px) {

    .s-hero-services {
        padding-top: 120px;
        padding-bottom: 6rem;
    }
}

body.page-template-archive-cases-page .s-hero-services_content h1 {
    max-width: 100%;
}

.s-hero-services_content {
    border-radius: 24px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 992px) {

    .s-hero-services_content {
        border-radius: 32px;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (min-width: 1600px) {

    .s-hero-services_content {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}

.s-hero-services_content h1 {
    max-width: 900px;
    font-family: Reform-ST, sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: -0.01em;
}

@media (min-width: 768px) {

    .s-hero-services_content h1 {
        font-size: 68px;
    }
}

@media (min-width: 1440px) {

    .s-hero-services_content h1 {
        font-size: 80px;
    }
}

.s-hero-services_content p {
    margin-bottom: 0;
    max-width: 860px;
    padding-top: 1.5rem;
    line-height: 115%;
}

.s-hero-services_content h1.js--animate-title .word {
    height: 36px;
}

@media (min-width: 768px) {

    .s-hero-services_content h1.js--animate-title .word {
        height: 60px;
    }
}

@media (min-width: 1440px) {

    .s-hero-services_content h1.js--animate-title .word {
        height: 70px;
    }
}

.s-archive-cases {
    overflow: hidden;
    --tw-bg-opacity: 1;
    padding-bottom: 3rem;
}

@media (min-width: 992px) {

    .s-archive-cases {
        padding-bottom: 5rem;
    }
}

@media (min-width: 1440px) {

    .s-archive-cases {
        margin-bottom: 2.25rem;
    }
}

@media (min-width: 1600px) {

    .s-archive-cases {
        margin-bottom: 1.25rem;
        padding-bottom: 6rem;
    }
}

.s-archive-cases__grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (min-width: 768px) {

    .s-archive-cases__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 992px) {

    .s-archive-cases__grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {

    .s-archive-cases__grid {
        gap: 2.5rem;
    }
}

.s-archive-cases__grid.s-archive-cases__grid--desktop {
    display: none;
}

@media (min-width: 768px) {

    .s-archive-cases__grid.s-archive-cases__grid--desktop {
        display: grid;
    }

    .s-archive-cases__grid.s-archive-cases__grid--mobile {
        display: none;
    }
}

.c-card-case {
    position: relative;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 25 / var(--tw-bg-opacity));
    transition-property: background;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {

    .c-card-case {
        min-height: 300px;
    }
}

@media (min-width: 992px) {

    .c-card-case {
        grid-column: span 4 / span 4;
    }

    .c-card-case.c-card-case--small {
        grid-column: span 4 / span 4;
    }

    .c-card-case.c-card-case--medium {
        grid-column: span 6 / span 6;
    }

    .c-card-case.c-card-case--large {
        grid-column: span 8 / span 8;
    }
}

.c-card-case.c-card-case--soon-static {
    pointer-events: none;
}

.c-card-case::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 25 / var(--tw-bg-opacity));
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --tw-content: "";
    content: var(--tw-content);
}

.c-card-case:first-child {
    --tw-bg-opacity: 1;
    background-color: rgb(230 230 230 / var(--tw-bg-opacity));
}

.c-card-case:first-child::after {
    --tw-content: none;
    content: var(--tw-content);
}

@media (min-width: 768px) {

    .c-card-case:nth-child(2) {
        --tw-bg-opacity: 1;
        background-color: rgb(230 230 230 / var(--tw-bg-opacity));
    }

    .c-card-case:nth-child(2)::after {
        --tw-content: none;
        content: var(--tw-content);
    }
}

.c-card-case.JS-slide-in {
    --tw-bg-opacity: 1;
    background-color: #191919;
}

.c-card-case.JS-slide-in .c-card__question {
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
    line-height: 100%;
    color: #FFDE66;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .c-card-case.JS-slide-in .c-card__question {
        font-size: 32px;
    }
}

.c-card-case.JS-slide-in .c-card__answer {
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    color: #D9D9D9;
}
@media (min-width: 768px) {
    .c-card-case.JS-slide-in .c-card__answer {
        font-size: 16px;
    }
}

.c-card-case.JS-slide-in::after {
    right: -100%;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.s-hero-services {
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 25 / var(--tw-bg-opacity));
}
