button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.s-hero__link {
    display: inline-block;
    cursor: pointer;
    border-radius: 9999px;
    padding: 11px 1.5rem;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

@media (min-width: 768px) {

    .s-hero__link {
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 22px;
    }
}

.s-hero__link svg {
    margin-left: 0.5rem;
    display: inline-block;
    width: 1rem;
    vertical-align: bottom;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

@media (min-width: 768px) {

    .s-hero__link svg {
        margin-left: 0.75rem;
        width: 1.25rem;
    }
}

.s-hero__link {
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(255 222 102 / var(--tw-border-opacity));
    background-color: transparent;
    --tw-text-opacity: 1;
    color: rgb(255 222 102 / var(--tw-text-opacity));
}

.s-hero__link svg {
    fill: #FFDE66;
}

.s-hero__link:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 222 102 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(25 25 25 / var(--tw-text-opacity));
}

.s-hero__link:hover svg {
    fill: #191919;
}

.s-hero__link:focus {
    --tw-border-opacity: 1;
    border-color: rgb(255 222 102 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 222 102 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(25 25 25 / var(--tw-text-opacity));
}

.s-hero__link:focus svg {
    fill: #191919;
}

.c-card-case {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    --tw-bg-opacity: 1;
    background-color: rgb(230 230 230 / var(--tw-bg-opacity));
    padding: 1.5rem 1rem 1.25rem;
}

@media (min-width: 768px) {

    .c-card-case {
        min-height: 440px;
    }
}

.c-card-case__container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0.75rem;
}

@media (min-width: 768px) {

    .c-card-case__container {
        justify-content: space-between;
        gap: 1rem;
    }

    .c-card-case__container h3 {
        letter-spacing: -0.01em;
    }
}

.c-card-case__action {
    position: relative;
    margin-top: 0.75rem;
    height: 30px;
    overflow: hidden;
}

@media (min-width: 768px) {

    .c-card-case__action {
        margin-top: 1rem;
    }
}

.c-card-case__desc {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    font-size: 14px;
    line-height: 105%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.c-card-case__link {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    font-size: 14px;
    line-height: 100%;
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.c-card-case__link svg {
    display: inline-block;
    --tw-translate-x: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    vertical-align: baseline;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 200ms;
    transition-duration: 300ms;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 8px));
    }
}

.s-cases {
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {

    .s-cases {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media (min-width: 1280px) {

    .s-cases {
        padding-top: 136px;
        padding-bottom: 136px;
    }
}

@media (min-width: 1600px) {

    .s-cases {
        padding-top: 168px;
        padding-bottom: 168px;
    }
}

.s-cases__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 992px) {

    .s-cases__header {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.s-cases__title {
    font-family: Reform-ST, sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: -0.01em;
}

@media (min-width: 768px) {

    .s-cases__title {
        font-size: 68px;
    }
}

.splide__slide {
    width: 270px;
}

@media (min-width: 768px) {

    .splide__slide {
        width: 331px;
    }
}

.s-cases__desc {
    margin: 0;
    max-width: 400px;
}

.s-cases__slider-content {
    margin-top: 2rem;
}

@media (min-width: 768px) {

    .s-cases__slider-content {
        margin-top: 2.5rem;
    }
}

.s-cases__slider-title {
    display: none;
}

@media (min-width: 768px) {

    .s-cases__slider-title {
        margin-bottom: 3.5rem;
        display: block;
    }
}

.s-clients {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {

    .s-clients {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media (min-width: 1280px) {

    .s-clients {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
}

.s-clients_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

@media (min-width: 992px) {

    .s-clients_content {
        flex-direction: row;
        align-items: center;
    }
}

.s-clients_content-title {
    font-family: Reform-ST, sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {

    .s-clients_content-title {
        font-size: 68px;
    }
}

.s-clients_content-text {
    margin-bottom: 0;
    max-width: 440px;
    font-weight: 400;
}

.s-clients-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

@media (min-width: 576px) {

    .s-clients-title {
        padding-top: 3.5rem;
        padding-bottom: 2.25rem;
        font-size: 32px;
    }
}

.splide.JS-slider-clients .splide__track {
    cursor: grab;
    padding-top: 1rem;
}

@media (min-width: 576px) {

    .splide.JS-slider-clients .splide__track {
        padding-top: 2.25rem;
    }
}

.JS-slider-clients .splide__list .splide__slide {
    display: flex;
    height: 120px;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 19.2px;
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 25 / var(--tw-bg-opacity));
    padding: 0 1rem 1rem;
    flex-direction: column;
}

.JS-slider-clients .splide__list .splide__slide span {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FAFAFA;
    min-height: 28px;
    align-content: center;
    margin-top: 5px;
}

@media (min-width: 768px) {
    .JS-slider-clients .splide__list .splide__slide span {
        font-size: 20px;
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {

    .JS-slider-clients .splide__list .splide__slide {
        height: 200px;
        max-width: 200px;
        border-radius: 32px;
        padding: 26px;
    }
}

.JS-slider-clients .splide__list .splide__slide img {
    max-height: 60px;
}

.s-hero {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(255 222 102 / var(--tw-bg-opacity));
}

@media (min-width: 992px) {

    .s-hero {
        justify-content: center;
    }
}

@media (min-width: 1024px) {

    .s-hero {
        min-height: 100vh;
    }
}

.s-hero:after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    height: 100%;
    width: 59%;
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 25 / var(--tw-bg-opacity));
}

@media (min-width: 992px) {

    .s-hero:after {
        --tw-content: "";
        content: var(--tw-content);
    }
}

@media (min-width: 1440px) {

    .s-hero:after {
        max-width: 840px;
    }
}

@media (min-width: 1600px) {

    .s-hero:after {
        max-width: 840px;
    }
}

@media (min-width: 1921px) {

    .s-hero:after {
        max-width: 100%;
    }
}

.s-hero .container-xl {
    display: flex;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 25 / var(--tw-bg-opacity));
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {

    .s-hero .container-xl {
        padding-top: 100px;
    }
}

@media (min-width: 992px) {

    .s-hero .container-xl {
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
    }
}

.s-hero_animation {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;

}

.s-hero_animation .mobile-hero-container {
    position: relative;
    max-height: 300px;
    top: -100px;
}

@media (min-width: 480px) {
    .s-hero_animation .mobile-hero-container {
        top: -200px;
    }
}

@media (min-width: 600px) {
    .s-hero_animation .mobile-hero-container {
        max-height: 500px;
        top: -360px;
    }

    .s-hero_animation .mobile-hero-container img {
        width: 100%;
    }
}


@media (min-width: 992px) {
    .s-hero_animation {
        position: absolute;
        left: 0;
    }
}

.s-hero_animation lottie-player {
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

@media (min-width: 992px) {

    .s-hero_animation lottie-player {
        width: 41%;
    }
}

.s-hero_video-desktop {
    display: none;
}

@media (min-width: 992px) {
    .s-hero_video-desktop {
        display: block;
    }
}

@media (min-width: 992px) {

    .s-hero_animation .mobile-hero-container {
        display: none;
    }
}

.s-hero__content {
    --tw-text-opacity: 1;
    color: rgb(217 217 217 / var(--tw-text-opacity));
}

@media (min-width: 992px) {

    .s-hero__content {
        width: 50%;
        max-width: 616px;
    }
}

@media (min-width: 1600px) {

    .s-hero__content {
        max-width: 640px;
    }
}

.s-hero__title {
    font-family: Karl-ST, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 120%;
}

@media (min-width: 768px) {

    .s-hero__title {
        font-size: 48px;
        line-height: 115%;
        letter-spacing: -0.01em;
    }
}

@media (min-width: 1440px) {

    .s-hero__title {
        max-width: 616px;
    }
}

@media (min-width: 1600px) {

    .s-hero__title {
        max-width: 570px;
    }
}

.s-hero__subtitle {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 16px;
    color: #FFDE66;
    line-height: 100%;
}

@media (min-width: 768px) {
    .s-hero__subtitle {
        font-size: 32px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 1440px) {

    .s-hero__subtitle {
        max-width: 400px;
    }
}

@media (min-width: 1600px) {
    .s-hero__subtitle {
        max-width: 520px;
    }
}

.s-hero__text {
    font-weight: 400;
    font-size: 12px;
}

@media (min-width: 768px) {
    .s-hero__text {
        font-size: 16px;
    }
}


.s-hero__link {
    margin-top: 1.5rem;
}

@media (min-width: 768px) {

    .s-hero__link {
        margin-top: 2.5rem;
    }
}

@media (min-width: 992px) {

    .s-hero__link {
        margin-top: 3.5rem;
    }
}